body{font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;}

.grid{display: flex;flex-flow: row;flex-wrap: wrap;}
.grid-cell {flex: 1;}
.grid-cols-1 > .grid-cell {flex: 0 0 100%;}
.grid-cols-2 > .grid-cell {flex: 0 0 100%;}
.grid-cols-3 > .grid-cell {flex: 0 0 100%;}
.grid-cols-4 > .grid-cell {flex: 0 0 100%;}
.grid-cols-6 > .grid-cell {flex: 0 0 calc(50% - 1em);}
.grid-cols-12 > .grid-cell {flex: 0 0 calc(33.3333% - 1em);}
@media (min-width: 48em) {.grid-cols-1 > .Grid-cell,.grid-cols-2 > .Grid-cell,.grid-cols-3 > .Grid-cell,.grid-cols-4 > .Grid-cell,.grid-cols-6 > .Grid-cell,.grid-cols-12 > .Grid-cell {flex: 1;}
 
.btn{border: none;padding: 10px 10px;text-align: center;text-decoration: none;display: inline-block;font-size: 14px;margin: 4px 2px;cursor: pointer;border-radius : 3px;}
.btn-rounded{border: none;padding: 10px 10px;text-align: center;text-decoration: none;display: inline-block;font-size: 14px;margin: 4px 2px;cursor: pointer;border-radius : 10em;}
.btn-grey{background-color : #3e3e3e;color: #fff;}
.btn-blue{background-color : #0569a0;color: #fff;}
.btn-red{background-color : #da3838;color: #fff;}